::selection {
  background: rgba(#000, .7);
  color: #fff;
}

::placeholder {
  color: #666;
}


html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #fff, #DBDFF2);
  background-color: #EEF0F9;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #1B222A;
  position: relative;
  overflow-x: hidden;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

input, textarea {
  border: #666 1px solid;
  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
