.about {
  margin-bottom: 200px;

  &--about-page {
    padding-top: 160px;
  }
}

.about__wrapper {
  @include wrapper;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__gallery--multiline {
  margin-bottom: 110px;

  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.about__gallery .swiper-container {
  width: 560px;
  height: 373px;
  border-radius: 50px;
  overflow: hidden;

  &:hover .about__gallery-btn-arrow,
  &:focus .about__gallery-btn-arrow {
    opacity: 1;
  }
}

.about__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  width: 600px;

  &--multiline {
    margin-bottom: 110px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
}

.about__title {
  font-family: $font-family-base;
  font-weight: $bold;
  color: $text-color;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.05em;
  margin: 0 0 40px;
}

.about__text {
  font-family: $font-family-base;
  font-weight: $semibold;
  color: $gray;
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.about__more-btn {
  display: inline-block;
  color: $brand-color;
  font-family: $font-family-base;
  font-size: 20px;
  font-weight: $semibold;
  margin: 10px 0 0;
  border-bottom: 2px solid $brand-color;
  padding-right: 10px;
  letter-spacing: 0.05em;
  transition: .25s color ease, .25s border-color ease;

  &:hover {
    color: lighten($brand-color, 10%);
    border-color: lighten($brand-color, 10%);
  }
}

.about__gallery-btn {
  position: absolute;
  top: 50%;
  z-index: 1;

  &--left {
    left: 10px;
    transform: translateY(-50%);
  }

  &--right {
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
  }
}

.about__gallery-btn-arrow {
  fill: $brand-color;
  opacity: 0;
  transition: .25s opacity ease, .25s fill ease;

  &:hover {
    fill: lighten($brand-color, 10%);
  }
}

@include screen-md {
  .about__title {
    font-size: 42px;
    margin: 0 0 30px;
  }

  .about__content {
    width: calc(50% - 25px);

    &--multiline:nth-child(3) {
      margin-right: 50px;
    }
  }

  .about__gallery {
    width: calc(50% - 25px);
    margin-right: 50px;

    &--multiline {
      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }

  .about__gallery .swiper-container {
    width: 100%;
  }
}

@include screen-sm {
  .about {
    margin-bottom: 160px;

    &--about-page {
      padding-top: 120px;
    }
  }

  .about__gallery-btn-arrow {
    opacity: 1;
  }
}

@include tablet-lg {
  .about--about-page {
    padding-top: 80px;
  }

  .about__wrapper {
    flex-direction: column;
  }

  .about__title {
    font-size: 36px;
  }

  .about__content {
    width: 100%;

    &--multiline {
      &:nth-child(3) {
        margin-right: 0;
        margin-bottom: 60px;
      }

      &:nth-child(2) {
        order: -1;
        margin-bottom: 50px;
      }
    }
  }

  .about__gallery {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;

    &:nth-child(1) {
      margin-bottom: 110px;
    }
  }
}

@include tablet-md {
  .about__gallery {
    margin-bottom: 50px;
  }

  .about {
    margin-bottom: 130px;
  }
}

@include tablet-sm {
  .about__gallery .swiper-container {
    height: 240px;
    border-radius: 30px;
  }

  .about__gallery {
    margin-bottom: 40px;

    &:nth-child(1) {
      margin-bottom: 60px;
    }
  }

  .about__title {
    font-size: 26px;
    margin: 0 0 20px;
  }

  .about__text {
    font-size: 16px;
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }
  }

  .about__more-btn {
    font-size: 18px;
    margin: 0;
  }

  .about {
    margin-bottom: 100px;
  }

  .about__content--multiline{
    &:nth-child(3) {
      margin-bottom: 40px;
    }

    &:nth-child(2) {
      margin-bottom: 40px;
    }
  }
}
