.footer {
  padding-bottom: 27px;
}

.footer__wrapper {
  @include wrapper;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid $white;
  padding-top: 30px;
}

.footer__copyright {
  font-family: $font-family-base;
  font-weight: $semibold;
  font-size: 20px;
  color: $text-color;
  line-height: 1.2;
  margin: 0;
}

.footer__soc-box {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer__soc-box-item {
  margin-left: 25px;
}

.footer__soc-box-url {
  display: block;
}

.footer__soc-box-icon {
  fill: $text-color;
  display: block;
  transition: .25s fill ease;

  &:hover {
    fill: $brand-color;
  }
}

.footer__legal-info {
  font-family: $font-family-base;
  font-weight: $semibold;
  font-size: 20px;
  color: $brand-color;
  line-height: 1.2;
  margin: 0;
  border-bottom: 2px solid transparent;
  transition: .25s border-color ease;

  &:hover {
    border-color: $brand-color;
  }
}

@include tablet-sm {
  .footer__soc-box-item {
    margin-left: 12px;
  }

  .footer__copyright {
    font-size: 18px;
  }

  .footer__legal-info {
    font-size: 18px;
  }

  .footer__wrapper {
    padding-top: 20px;
  }

  .footer {
    padding-bottom: 20px;
  }
}

@include phone-lg {
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__copyright {
    margin-bottom: 20px;
  }
}

@include phone-sm {
  .footer__copyright {
    font-size: 16px;
  }

  .footer__legal-info {
    font-size: 16px;
  }
}
