.footer {
  padding-bottom: 27px;
}

.footer__wrapper {
  @include wrapper;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid $white;
  padding-top: 30px;
}

.footer__copyright {
  font-family: $font-family-base;
  font-weight: $semibold;
  font-size: 20px;
  color: $text-color;
  line-height: 1.2;
  margin: 0;
}

.footer__soc-box {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer__soc-box-item {
  margin-left: 25px;
}

.footer__soc-box-url {
  display: block;
}

.footer__soc-box-icon {
  fill: #2E283D;
  display: block;
}
