.schedule-callback {
  width: 560px;
  max-width: 100%;
  border-radius: 20px;
  border: 3px solid $brand-color;
  padding: 43px 46px 41px;
}

.schedule-callback__title {
  font-family: $font-family-base;
  font-weight: $bold;
  color: $text-color;
  font-size: 24px;
  line-height: 1.25;
  margin: 0 0 10px;
  letter-spacing: 0.05em;
}

.schedule-callback__description {
  font-family: $font-family-base;
  font-weight: $bold;
  color: $gray;
  font-size: 18px;
  line-height: 1.25;
  margin: 0 0 28px;
  letter-spacing: 0.05em;
}

.schedule-callback__input {
  padding: 12px 24px 10px;
  background-color: $white;
  border: none;
  border-radius: 42px;
  display: block;
  width: 100%;
  max-width: 310px;
  margin: 0 0 32px;
  font-family: $font-family-base;
  font-weight: $semibold;
  color: $text-color;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.25;
  transition: .25s color ease;

  &::placeholder {
    color: $gray;
    transition: .25s color ease;
  }

  &:hover {
    color: lighten($text-color, 30%);

    &::placeholder {
      color: lighten($gray, 15%);
    }
  }

  &:focus {
    outline: none;
  }
}

.schedule-callback__submit-btn {
  font-family: $font-family-base;
  font-weight: $semibold;
  color: $white;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.25;
  padding: 11px 40px;
  border: none;
  border-radius: 42px;
  background-color: $brand-color;
  transition: .25s background-color ease;

  &:hover {
    background-color: lighten($brand-color, 10%);
  }
}

@include screen-md {
  .schedule-callback {
    width: 100%;
  }
}

@include screen-sm {
  .schedule-callback {
    padding: 33px 36px 31px;
  }

  .schedule-callback__title {
    font-size: 20px;
  }

  .schedule-callback__description {
    font-size: 16px;
    margin: 0 0 20px 0;
  }

  .schedule-callback__input {
    margin: 0 0 25px;
  }
}

@include tablet-lg {
  .schedule-callback {
    max-width: 450px;
  }
}

@include tablet-sm {
  .schedule-callback {
    padding: 23px;
  }

  .schedule-callback__title {
    font-size: 18px;
  }

  .schedule-callback__description {
    font-size: 14px;
    margin: 0 0 25px;
  }

  .schedule-callback__submit-btn {
    font-size: 14px;
  }

  .schedule-section {
    margin-bottom: 80px;
  }
}
