.services {
  background-color: $white;
  padding: 100px 0;
  margin-bottom: 200px;
}

.services__gallery-btn-arrow {
  fill: $brand-color;
  transition: .25s opacity ease, .25s fill ease;

  &:hover {
    fill: lighten($brand-color, 10%);
  }
}

.services__gallery {
  padding: 0 50px;
  width: 100%;
  position: relative;
}

.services__gallery-btn {
  position: absolute;
  top: 50%;
  z-index: 1;

  &--left {
    left: 0;
    transform: translateY(-50%);
  }

  &--right {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }
}

.services__wrapper {
  @include wrapper;
  justify-content: space-between;
}

@include screen-sm {
  .services {
    padding: 70px 0;
    margin-bottom: 160px;
  }
}

@include tablet-md {
  .services {
    margin-bottom: 130px;
    padding: 60px 0;
  }
}

@include tablet-sm {
  .services {
    padding: 35px 0;
    margin-bottom: 100px;
  }
}
