.trainers {
  margin-bottom: 200px;
}

.trainers__wrapper {
  @include wrapper;
  flex-direction: column;
}

.trainers__title {
  font-family: $font-family-base;
  font-size: 48px;
  font-weight: $bold;
  color: $text-color;
  line-height: 1.25;
  margin: 0 0 50px;
  letter-spacing: 0.05em;
}

.trainers__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.trainers__list-item {
  margin-right: 50px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.trainers__list-btn {
  font-family: $font-family-base;
  font-weight: $semibold;
  font-size: 20px;
  color: $text-color;
  line-height: 1.15;
  letter-spacing: 0.05em;
  border-bottom: 2px solid transparent;
  transition: .25s color ease, .25s border-color ease;

  &:hover {
    color: $brand-color;
  }

  &--active {
    border-color: $brand-color;
  }
}

.trainers__list-next-btn {
  font-family: $font-family-base;
  font-weight: $semibold;
  font-size: 20px;
  color: $brand-color;
  line-height: 1.15;
  letter-spacing: 0.05em;
  border-bottom: 2px solid transparent;
  transition: .25s color ease;

  &:hover {
    color: lighten($brand-color, 10%);
  }
}


@include screen-sm {
  .trainers__title {
    font-size: 42px;
    margin: 0 0 30px;
  }
}

@include tablet-lg {
  .trainers__title {
    font-size: 38px;
  }

  .trainers__list {
    margin-bottom: 15px;
  }

  .trainers__list-item {
    margin-right: 30px;
  }
}

@include tablet-md {
  .trainers {
    margin-bottom: 160px;
  }
}

@include tablet-sm {
  .trainers__title {
    font-size: 32px;
    margin: 0 0 20px;
  }

  .trainers__list-item:last-child {
    display: none;
  }

  .trainers {
    margin-bottom: 100px;
  }
}
