.welcome-section__wrapper {
  @include wrapper;
  position: relative;
  flex-direction: column;
}

.welcome-section__ribbon {
  position: absolute;
  top: -115px;
  right: -80px;
  pointer-events: none;
}

.welcome-section__title {
  margin-top: 250px;
  font-family: $font-family-base;
  font-weight: $bold;
  color: $text-color;
  font-size: 62px;
  line-height: 1.177;
  max-width: 710px;
  margin-bottom: 0;
  letter-spacing: 0.05em;
}

.welcome-section__contacts {
  margin: 210px 0 0;
  padding: 0;
  list-style-type: none;
}

.welcome-section__contacts-item {
  font-family: $font-family-base;
  font-weight: $bold;
  color: $brand-color;
  font-size: 22px;
  line-height: 1.19;
  letter-spacing: 0.1em;
  margin-top: 12px;
}
